@page {
    margin-top: 0.1em;
    margin-left: 0.1em;
    margin-right:  0.1em;
    margin-bottom:0.1em;
}
body{
    font-family: Tahoma;
    padding: 0;
    margin: 0;
}
table{
    background-color: #edf0f9;
    border-radius: 10px;
}
table th{
    border-bottom: 2px solid #000000;
    background-color: #757594
}
.head1{
    padding: 20px;
    background-color: #fbdbf8;
    font-family: Tahoma;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    margin: auto;
}
.head2{
    padding: 0px;
    background-color: white;
    font-family: Tahoma;
    font-size: 1em;
    width: 100%;
    margin: auto;
}

.tablaFacturaHead{
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    font-family: Tahoma;
}
.tablaFacturaHead tr{
    padding: 5px;
    border: 1px solid black;
}
.tablaFacturaHead th{
    border: 1px solid black;
}
.tablaFacturaHead td{
    padding: 5px;
    border: 1px solid black;
    text-align: justify;
    font-size: 0.95em;
}
.img-logo{
    height: auto;
    width: 45%;
    left: 20%;
}
.img-logo img{
    width: 100%;
}

.clear{
    clear: both;
}
p{
    font-size: 0.8em;
    font-weight: normal;
    color: #292121;
    font-family: Arial;
    text-align: justify;
    line-height: 1em;
}
.titulo1{
    font-size: 3em;
    font-weight: bold;
    color: #333333;
    text-decoration: underline;
}
.titulo2{
    font-size: 2em;
    font-weight: bold;
    color: #333333;
}
.titulo3{

}